@use '../utilities' as *;

.headline::before {
  content: '';
  position: absolute;
  background-image: url('https://raw.githubusercontent.com/ArthurGC/capstone-project-module-1/8fdb047476d604a949a3e54b9d91a3b2b56cbf77/public/headline-background-v2.svg');
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.headline {
  padding: 48px 24px;
  position: relative;
  z-index: 10;

  &__greet {
    @include lato-text(1.5rem, 500, 36px);

    color: $clr-primary-red;
    text-align: center;
    margin-bottom: 12px;
  }

  &__title {
    @include coco-text(2rem, 500, 36px);

    background: #ec5242;
    background: repeating-radial-gradient(circle farthest-corner at center center, #ec5242 0%, #ec5242 25%, #382e0a 50%, #ec5242 75%, #ec5242 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-align: center;
  }

  &__dsc {
    margin-top: 50px;
    padding: 12px;
    border: 3px solid $clr-primary-gray;
    background: $clr-primary-white;

    p {
      @include lato-text(1rem, 500, 24px);

      color: $clr-primary-black-gray;
      text-align: center;
    }
  }
}
