@use '../utilities' as *;

header { 
    background: $clr-primary-white;
    position: relative;
    padding: 12px 24px;
    box-shadow:  0 1px 10px 3px #a7a5a5;
    nav {
        a img {
            width: 100px;
            height: auto;
            display: none;
        }

        ul {
            list-style: none;
        }

        .hamb {
            font-size: 2rem;
            cursor: pointer;
        }
    }
}
