@use '../utilities' as *;
header { 
    background: $clr-primary-white;
    position: relative;
    padding: 12px 24px;
    nav {
        a img {
            width: 100px;
            height: auto;
            display: none;
        }

        ul {
            list-style: none;
        }

        .hamb {
            font-size: 2rem;
            cursor: pointer;
        }
    }
}

.headline::before {
    content: '';
    position: absolute;
    background-image: url('../../public/headline-background.png');
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.headline {
    padding: 48px 24px;
    position: relative;
    z-index: 10;

    &__greet {
        @include lato-text(1.5rem, 500, 36px);
        color: $clr-primary-red;
    }

    &__title {
        @include coco-text(2rem, 500, 36px);
        color: $clr-primary-red;
        text-transform: uppercase;
    }

    &__dsc {
        margin: 12px 0;
        padding: 12px;
        border: 3px solid $clr-primary-white;
        p {
            @include lato-text(1rem, 500, 24px);
            color: $clr-primary-black;
        }
        
    }

    &__date {
        @include coco-text(1.15rem, 500, 24px);
        color: $clr-primary-black;
        margin: 12px 0;
    }
}

.program {
    padding: 48px 24px;
    background: $clr-primary-black;

    &__title {
        @include coco-text(1.5rem, 500, 24px);
        text-align: center;
        color: $clr-primary-white;
    }

    ul {
        margin: 24px 0;
        @include flex(column, center center);
        gap: 12px;

        li {
            @include flex(row, center, justify-content);
            gap: 12px;
            width: 100%;
            background: $clr-primary-black-gray;
            padding: 12px;

            img {
                width: 40px;
                height: 40px;
                flex-basis: 25%;
            }

            h3 {
                color: $clr-primary-red;
                @include lato-text(1.2rem, 700, 24px);
                flex-basis: 25%;
            }

            p {
                color: $clr-primary-white;
                @include lato-text(1rem, 500, 24px);
                flex-basis: 50%;
            }
        }
    }
}
