@use '../utilities/index' as *;

@media (min-width: 480px) {
  .headline {
    padding: 10rem 24px;

    &__greet {
      margin: 1rem 0;
      font-size: 1.8rem;
    }

    &__title {
      font-size: 2.5rem;
      line-height: 56px;
    }

    &__dsc {
      p {
        font-size: 1.5rem;
        line-height: 32px;
      }
    }

    &__date {
      font-size: 2rem;
      margin-top: 48px;
    }
  }

  .program {
    padding: 5rem 24px;

    &__title {
      font-size: 2rem;
    }

    ul {
      li {
        img {
          width: 50px;
          height: 50px;
        }

        h3 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  .presenter {
    padding: 5rem 24px;

    &__title {
      font-size: 2rem;
    }

    ul {
      margin: 48px 0;
      gap: 24px;

      li {
        padding: 24px;

        .presenter__image {
          img {
            width: 150px;
            height: 150px;
          }
        }

        .presenter__dsc {
          h3 {
            font-size: 1.5rem;
          }

          .dsc-1 {
            font-size: 1.2rem;
          }

          .dsc-2 {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .offered {
    padding: 5rem 24px;

    &__title {
      font-size: 2rem;
    }

    &__images {
      margin-top: 48px;
      gap: 36px;
    }
  }

  footer {
    padding: 2rem 24px;

    .footer__p {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 600px) {
  header {
    padding: 24px 48px;

    nav {
      .hamb {
        font-size: 3rem;
      }
    }
  }

  .headline {
    padding: 10rem 48px;

    &__greet {
      margin: 1rem 0;
      font-size: 2rem;
    }

    &__title {
      font-size: 3rem;
      line-height: 72px;
    }

    &__dsc {
      p {
        font-size: 1.8rem;
        line-height: 42px;
      }
    }

    &__date {
      font-size: 2.5rem;
      margin-top: 48px;
    }
  }

  .program {
    padding: 6rem 48px;

    &__title {
      font-size: 2.5rem;
    }

    ul {
      gap: 32px;

      li {
        img {
          width: 60px;
          height: 60px;
        }

        h3 {
          font-size: 1.8rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .presenter {
    padding: 6rem 48px;

    &__title {
      font-size: 2.5rem;
    }

    ul {
      margin: 56px 0;
      gap: 32px;

      li {
        padding: 32px;

        .presenter__image {
          img {
            width: 180px;
            height: 180px;
          }
        }

        .presenter__dsc {
          h3 {
            font-size: 2rem;
          }

          .dsc-1 {
            font-size: 1.5rem;
            margin: 12px 0;
            line-height: 32px;
          }

          .dsc-2 {
            font-size: 1.5rem;
            line-height: 32px;
          }
        }
      }
    }
  }

  .offered {
    padding: 6rem 48px;

    &__title {
      font-size: 2.5rem;
    }

    &__images {
      margin-top: 48px;
      gap: 52px;

      .offered__img {
        width: 40%;
      }
    }
  }

  footer {
    padding: 2rem 48px;

    .footer__p {
      font-size: 1.8rem;
    }
  }
}

@media (min-width: 768px) {
  header {
    padding: 24px 72px;
  }

  .headline {
    padding: 10rem 72px;

    &__greet {
      font-size: 2.5rem;
    }

    &__title {
      font-size: 3.5rem;
      line-height: 80px;
    }

    &__dsc {
      p {
        font-size: 2rem;
        line-height: 48px;
      }
    }

    &__date {
      font-size: 2.8rem;
      margin-top: 56px;
    }
  }

  .program {
    padding: 8rem 72px;

    &__title {
      font-size: 3rem;
    }

    ul {
      margin-top: 64px;
      gap: 40px;

      li {
        img {
          width: 80px;
          height: 80px;
        }

        h3 {
          font-size: 2rem;
        }

        p {
          font-size: 1.8rem;
        }
      }
    }
  }

  .presenter {
    padding: 8rem 72px;

    &__title {
      font-size: 3rem;
    }

    ul {
      margin: 64px 0;
      gap: 32px;

      li {
        padding: 40px;

        .presenter__image {
          img {
            width: 200px;
            height: 200px;
          }
        }

        .presenter__dsc {
          h3 {
            font-size: 2.2rem;
          }

          .dsc-1 {
            font-size: 1.8rem;
            margin: 24px 0;
            line-height: 40px;
          }

          .dsc-2 {
            font-size: 1.8rem;
            line-height: 40px;
          }
        }
      }
    }
  }

  .offered {
    padding: 8rem 72px;

    &__title {
      font-size: 3rem;
    }

    &__images {
      margin-top: 56px;
    }
  }

  footer {
    padding: 4rem 72px;

    .footer__p {
      font-size: 2rem;
    }
  }
}

@media (max-width: 992px) {
  header {
    nav {
      ul {
        list-style: none;
        position: fixed;
        top: 0;
        left: -100%;
        opacity: 0;
        visibility: hidden;
        width: 100%;
      }
    }
  }
}

@media (min-width: 992px) {
  header {
    nav {
      @include flex(row, center,space-between);

      a img {
        display: block;
      }

      ul {
        @include flex(row,center, flex-end);

        gap: 48px;

        li {
          a {
            @include lato-text(1.5rem, 500, 24px);

            color: $clr-primary-black-gray;
          }
        }
      }

      .hamb {
        display: none;
      }
    }
  }
}
