@font-face {
  font-family: "COCOGOOSE";
  src:
    url('../../public/fonts/Cocogoose_trial.eot') format("eot"),
    url('../../public/fonts/Cocogoose_trial.woff') format("woff"),
    url('../../public/fonts/Cocogoose_trial.ttf') format("truetype"),
    url("../../public/fonts/Cocogoose_trial.svg#COCOGOOSE") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
