@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

@font-face {
  font-family: "COCOGOOSE";
  src: url("../../public/fonts/Cocogoose_trial.eot") format("eot"), url("../../public/fonts/Cocogoose_trial.woff") format("woff"), url("../../public/fonts/Cocogoose_trial.ttf") format("truetype"), url("../../public/fonts/Cocogoose_trial.svg#COCOGOOSE") format("svg");
  font-weight: normal;
  font-style: normal;
}
header {
  background: #fff;
  position: relative;
  padding: 12px 24px;
}
header nav a img {
  width: 100px;
  height: auto;
  display: none;
}
header nav ul {
  list-style: none;
}
header nav .hamb {
  font-size: 2rem;
  cursor: pointer;
}

.headline::before {
  content: "";
  position: absolute;
  background-image: url("../../public/headline-background.png");
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.headline {
  padding: 48px 24px;
  position: relative;
  z-index: 10;
}
.headline__greet {
  font-family: "Lato, sans-serif";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 36px;
  color: #ec5242;
  text-align: center;
  margin-bottom: 12px;
}
.headline__title {
  font-family: "COCOGOOSE";
  font-size: 2rem;
  font-weight: 500;
  line-height: 36px;
  color: #ec5242;
  text-transform: uppercase;
  text-align: center;
}
.headline__dsc {
  margin-top: 50px;
  padding: 12px;
  border: 3px solid #d3d3d3;
  background: #fff;
}
.headline__dsc p {
  font-family: "Lato, sans-serif";
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: #41434b;
  text-align: center;
}

.courses {
  padding: 48px 24px;
}
.courses__title {
  font-family: "Lato, sans-serif";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 24px;
  color: #272a31;
  margin-bottom: 50px;
  text-align: center;
}
.courses ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.courses ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: justify-content;
  gap: 12px;
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(219, 217, 217, 0.5);
  border-radius: 8px;
  box-shadow: 2px 2px 0 0 rgba(172, 172, 172, 0.2);
}
.courses ul li .courses__image i {
  color: #ec5242;
  font-size: 4rem;
}
.courses ul li .courses__dsc h3 {
  font-family: "Lato, sans-serif";
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 24px;
  color: #272a31;
  text-align: center;
  margin-bottom: 24px;
}
.courses ul li .courses__dsc p {
  font-family: "Lato, sans-serif";
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: #41434b;
  text-align: center;
}

.past-courses {
  padding: 48px 24px;
}
.past-courses__title {
  font-family: "Lato, sans-serif";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 24px;
  color: #272a31;
  text-align: center;
  margin-bottom: 50px;
}
.past-courses ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.past-courses ul li {
  position: relative;
}
.past-courses ul li a img {
  width: 100%;
}
.past-courses ul li p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Lato, sans-serif";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  width: 100%;
}
.past-courses ul li p span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 992px) {
  header nav ul {
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=about.css.map */
