@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

hr {
  margin-top: 24px;
  border: 1px solid #ec5242;
  width: 50%;
  margin-inline: auto;
}

.link {
  text-decoration: none;
}

@font-face {
  font-family: "COCOGOOSE";
  src: url("../../public/fonts/Cocogoose_trial.eot") format("eot"), url("../../public/fonts/Cocogoose_trial.woff") format("woff"), url("../../public/fonts/Cocogoose_trial.ttf") format("truetype"), url("../../public/fonts/Cocogoose_trial.svg#COCOGOOSE") format("svg");
  font-weight: normal;
  font-style: normal;
}

header {
  background: #fff;
  position: relative;
  padding: 24px;
  box-shadow: 0 1px 10px 3px #a7a5a5;
}

header nav a img {
  width: 120px;
  height: auto;
  display: none;
}

header nav ul {
  list-style: none;
}

header nav .hamb {
  font-size: 2rem;
  cursor: pointer;
}

.headline::before {
  content: "";
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/ArthurGC/capstone-project-module-1/8fdb047476d604a949a3e54b9d91a3b2b56cbf77/public/headline-background-v2.svg");
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.headline {
  padding: 48px 24px;
  position: relative;
  z-index: 10;
}

.headline__greet {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 36px;
  color: #ec5242;
  text-align: center;
  margin-bottom: 12px;
}

.headline__title {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 36px;
  background: #ec5242;
  background: repeating-radial-gradient(circle farthest-corner at center center, #ec5242 0%, #ec5242 25%, #382e0a 50%, #ec5242 75%, #ec5242 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  text-align: center;
}

.headline__dsc {
  margin-top: 50px;
  padding: 12px;
  border: 3px solid #d3d3d3;
  background: #fff;
}

.headline__dsc p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: #41434b;
  text-align: center;
}

.courses {
  padding: 48px 24px;
}

.courses__title {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 24px;
  color: #272a31;
  text-align: center;
}

.courses ul {
  margin-top: 50px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.courses ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(219, 217, 217, 0.5);
  border-radius: 8px;
  box-shadow: 2px 2px 0 0 rgba(172, 172, 172, 0.2);
}

.courses ul li .courses__image i {
  color: #ec5242;
  font-size: 4rem;
}

.courses ul li .courses__dsc h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 24px;
  color: #272a31;
  text-align: center;
  margin-bottom: 24px;
}

.courses ul li .courses__dsc p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: #41434b;
  text-align: center;
}

.past-courses {
  padding: 48px 24px;
}

.past-courses__title {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 24px;
  color: #272a31;
  text-align: center;
}

.past-courses ul {
  margin-top: 50px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.past-courses ul li {
  position: relative;
  transition: transform 0.8s;
}

.past-courses ul li a img {
  width: 100%;
}

.past-courses ul li .past-courses__p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.past-courses ul li .past-courses__p span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

footer {
  padding: 24px;
  text-align: center;
  background: #41434b;
}

footer .footer__img {
  width: 50%;
  margin-bottom: 12px;
}

footer .footer__p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

@media (max-width: 992px) {
  header nav ul {
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 480px) {
  .headline {
    padding: 5rem 24px;
  }

  .headline__greet {
    margin: 1rem 0;
    font-size: 1.8rem;
  }

  .headline__title {
    font-size: 2.5rem;
    line-height: 56px;
  }

  .headline__dsc p {
    font-size: 1.2rem;
    line-height: 32px;
  }

  .courses {
    padding: 5rem 24px;
  }

  .courses__title {
    font-size: 2rem;
    line-height: 40px;
  }

  .courses ul {
    gap: 40px;
  }

  .courses ul li .courses__image i {
    font-size: 6rem;
  }

  .courses ul li .courses__dsc h3 {
    font-size: 1.5rem;
    line-height: 32px;
  }

  .courses ul li .courses__dsc .courses__p {
    font-size: 1.2rem;
    line-height: 40px;
  }

  .past-courses__title {
    font-size: 2rem;
    line-height: 40px;
  }

  .past-courses ul {
    gap: 40px;
  }

  .past-courses ul li .past-courses__p {
    font-size: 2rem;
  }

  .past-courses ul li .past-courses__p span {
    font-size: 2.5rem;
  }

  footer {
    padding: 2rem 24px;
  }

  footer .footer__p {
    font-size: 1.2rem;
  }
}

@media (min-width: 600px) {
  header {
    padding: 24px 48px;
  }

  header nav .hamb {
    font-size: 3rem;
  }

  .headline {
    padding: 6rem 48px;
  }

  .headline__greet {
    font-size: 2rem;
  }

  .headline__title {
    font-size: 3rem;
    line-height: 64px;
  }

  .headline__dsc p {
    font-size: 1.2rem;
    line-height: 48px;
  }

  .courses {
    padding: 7rem 48px;
  }

  .courses__title {
    font-size: 2.5rem;
  }

  .courses ul {
    gap: 56px;
    margin-top: 70px;
  }

  .courses ul li .courses__image i {
    font-size: 7rem;
  }

  .courses ul li .courses__dsc h3 {
    font-size: 2rem;
  }

  .courses ul li .courses__dsc .courses__p {
    font-size: 1.2rem;
    line-height: 48px;
  }

  .past-courses {
    padding: 3rem 48px;
  }

  .past-courses__title {
    font-size: 2.5rem;
  }

  .past-courses ul li .past-courses__p {
    font-size: 2.5rem;
  }

  .past-courses ul li .past-courses__p span {
    font-size: 3rem;
  }

  footer {
    padding: 2rem 48px;
  }

  footer .footer__p {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  header {
    padding: 24px 72px;
  }

  .headline {
    padding: 7rem 72px;
  }

  .headline__title {
    line-height: 80px;
  }

  .courses {
    padding: 6rem 72px;
  }

  .courses__title {
    font-size: 2.5rem;
  }

  .courses ul {
    gap: 64px;
    margin-top: 90px;
  }

  .courses ul li {
    gap: 48px;
  }

  .courses ul li .courses__image i {
    font-size: 6rem;
  }

  .courses ul li .courses__dsc h3 {
    font-size: 2rem;
  }

  .courses ul li .courses__dsc .courses__p {
    line-height: 56px;
  }

  .past-courses {
    padding: 4rem 72px;
  }

  .past-courses__title {
    font-size: 2.5rem;
    line-height: 64px;
  }

  .past-courses ul {
    margin-top: 4rem;
  }

  .past-courses ul li .past-courses__p {
    font-size: 3rem;
  }

  .past-courses ul li .past-courses__p span {
    font-size: 3.5rem;
  }

  footer {
    padding: 3rem 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }

  footer .footer__img {
    width: 150px;
  }

  footer .footer__p {
    line-height: 32px;
  }
}

@media (min-width: 992px) {
  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header nav a img {
    display: block;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 48px;
  }

  header nav ul li a {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 24px;
    color: #41434b;
    transition: color 0.8s, font-size 0.8s;
  }

  header nav .hamb {
    display: none;
  }
}

@media (min-width: 1024px) {
  .headline__title {
    width: 90%;
    margin-inline: auto;
  }

  .headline__dsc {
    width: 80%;
    margin-inline: auto;
  }

  .courses ul li {
    gap: 72px;
    width: 80%;
    margin-inline: auto;
    padding: 24px;
  }

  .past-courses {
    padding: 6rem 72px;
    border-top: 2px solid #d3d3d3;
  }

  .past-courses ul {
    flex-direction: row;
    max-width: 800px;
    margin-inline: auto;
  }

  .past-courses ul li .past-courses__p {
    font-size: 2rem;
  }

  .past-courses ul li .past-courses__p span {
    font-size: 2.5rem;
  }
}

@media (min-width: 1400px) {
  header {
    padding: 24px 120px;
  }

  .headline {
    padding: 7rem 120px;
  }

  .headline__title {
    width: 70%;
  }

  .headline__dsc {
    width: 70%;
    margin-inline: auto;
  }

  .courses ul li {
    width: 50%;
    margin-inline: auto;
  }

  .past-courses {
    padding: 6rem 120px;
  }

  .past-courses ul li .past-courses__p {
    font-size: 2.5rem;
    line-height: 48px;
  }

  .past-courses ul li .past-courses__p span {
    font-size: 3rem;
  }
}

header nav ul li a:hover {
  color: #ec5242;
  font-size: 1.5rem;
}

.about {
  color: #ec5242;
}

.about:hover {
  color: #41434b;
}

.program ul li:hover {
  border: 4px solid #fff;
}

.past-courses ul li:hover {
  transform: scale(1.2);
}
